{% extends 'main/base.html'%}
{% block content %}
<!-- Header -->
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="/login" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Login</a>
  </div>
</div>

<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Welcome to AES!</h1>
  <p class="w3-xlarge">Login or Sign up to start using the APP.</p>
  <a class="w3-button w3-black w3-padding-large w3-large w3-margin-top" href="/login">Login</a>
  <a class="w3-button w3-black w3-padding-large w3-large w3-margin-top" href="/signup">Sign up</a>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Overview</h1>
      <h5 class="w3-padding-32">Automated Essays Scoring System is the use of specialized technology to assign grades to essays written in educational setting. By utilizing the system, essays grading workload could be dramatically reduced.</h5>

      <p class="w3-text-grey">As computers intelligence is rapidly developing, there are a lots of powerful tools that could help teachers become more efficient coming out day by day. For example, grammar checking program, spelling checking tool. However, AES bring that to a much in depth level by utilizing cutting edge technology.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-pencil fa-3x w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-cogs fa-5x w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Features</h1>
      <h5 class="w3-padding-16">-Implemented with state-of-the-art Artificial Intelligence Techniques. </h5>
      <h5 class="w3-padding-16">-Allow authorized users to define new essay questions or prompts.</h5>
      <h5 class="w3-padding-16">-24/7 essays scoring with repective available questions. </h5>
      <h5 class="w3-padding-16">-Quick essays scoring with little time needed. </h5>
    </div>
  </div>
</div>


{% endblock %}
