{% extends 'main/base.html'%}
{% block content %}
<!-- Header -->
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logout</a>
    <a href="/scoring" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Scoring an Essay</a>
    <a href="/admin" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Define an Essay Question</a>
  </div>
</div>

<header class="w3-container w3-red w3-center" style="padding:64px 16px">
  <h1 class="w3-margin w3-jumbo">Welcome back to AES!</h1>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Start scoring an Essay. </h1>

      <h5 class="w3-padding-32"> Kindly note that there are only certain questions available now, you may also define a new essay question to help the system become better by selecting the Define an Essay Question option at above.</h5>

  <a class="w3-button w3-black w3-padding-large w3-large w3-margin-top" href="/scoring">Essay Scoring</a>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-pencil fa-3x w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>


{% endblock %}
